*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

nav div a{
    color: white;
}

.comentario img{
    width: 100%;
}

.pointer:hover{
    cursor: pointer;
}