*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    width: 100%;
    padding: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #010024;
}

nav{
    font-size: 1.2em;
    display: flex;
    gap: 15px;
}

nav div{
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div a:hover{
    font-size: 1.25em;
}

.main{
    border: 1px solid green;
    height: 500px;
}

footer{
    padding: 20px;
    background-color: #010024;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer_title{
    border-bottom: 1px solid white;
}

#footer_content{
    display: flex;
    justify-content: space-between;
}

#footer_content div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_social{
    gap: 25px;
    width: 30%;
}

#footer_social img{
    width: 14%;
    aspect-ratio: 1/1;
}

#footer_social img:hover{
    filter: invert(50%);
    cursor: pointer;
}

#footer_img-center{
    width: 20%;
}

#footer_img{
    width: 100%;
}

#footer_names{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
}

#footer_names p{
    margin: 0;
}

.noticias{
    float: left;
    display: block;
    width: 60%;
}
.noticias h3{
    color: black;
    float: right;
}
.noticias p{
    color: black;
    float: right;
}
